<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<div class="container mt-5">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
  >
    <img class="navbar-brand" src="assets/logo1.jpg" alt="" />
  </nav>

  <div class="jumbotron text-center bg-white text-gray">
    <h1>Welcome to Our Clothing Store</h1>
    <p>Discover the latest trends in fashion</p>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4">
      <img
        src="assets/ClassicWhiteShirt.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="ClassicWhiteShirt"
      />
      <h3 class="text-center text-gray">Classic White Shirt</h3>
      <p class="text-center text-gray">
        Our classic white shirt is perfect for any occasion. Made from
        high-quality cotton, it provides both comfort and style.
      </p>
    </div>
    <div class="col-md-6 mb-4">
      <img
        src="assets/StylishBlackPants.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="Pants 1"
      />
      <h3 class="text-center text-gray">Stylish Black Pants</h3>
      <p class="text-center text-gray">
        These black pants are a must-have in your wardrobe. They are versatile,
        stylish, and comfortable.
      </p>
    </div>
    <div class="col-md-6 mb-4">
      <img
        src="assets/CasualBlueShirt.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="Shirt 2"
      />
      <h3 class="text-center text-gray">Casual Blue Shirt</h3>
      <p class="text-center text-gray">
        Our casual blue shirt is ideal for everyday wear. It is made from soft,
        breathable fabric that ensures all-day comfort.
      </p>
    </div>
    <div class="col-md-6 mb-4">
      <img
        src="assets/ComfortableKhakiPants.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="Pants 2"
      />
      <h3 class="text-center text-gray">Comfortable Khaki Pants</h3>
      <p class="text-center text-gray">
        These khaki pants offer a perfect blend of comfort and style. They are
        great for both casual and semi-formal occasions.
      </p>
    </div>
    <div class="col-md-6 mb-4">
      <img
        src="assets/ElegantBlackShirt.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="Shirt 3"
      />
      <h3 class="text-center text-gray">Elegant Black Shirt</h3>
      <p class="text-center text-gray last-one">
        Our elegant black shirt is perfect for formal events. It is crafted from
        premium materials for a sophisticated look.
      </p>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <a href="https://www.facebook.com" target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://www.instagram.com" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://www.twitter.com" target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="#" target="_blank"
        ><i class="fas fa-globe"></i
      ></a>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
