<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<div class="container mt-5">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
  >
    <img class="navbar-brand" src="assets/logo1.jpg" alt="" />
  </nav>

  <div class="jumbotron text-center bg-white text-gray">
    <h1>Bem-vindo à nossa loja de roupas</h1>
    <p>Descubra as últimas tendências da moda</p>
  </div>

  <div class="row">
    <div class="col-md-6 -mb4">
      <img
        src="assets/ClassicWhiteShirt.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="ClassicWhiteShirt"
      />
      <h3 class="text-center text-gray">Camisa Branca Clássica</h3>
      <p class="text-center text-gray">
        Nossa camisa branca clássica é perfeita para qualquer ocasião. Feito de
        algodão de alta qualidade, proporciona conforto e estilo.
      </p>
    </div>
    <div class="col-md-6 mb-4">
      <img
        src="assets/StylishBlackPants.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="Pants 1"
      />
      <h3 class="text-center text-gray">Calças Pretas Elegantes</h3>
      <p class="text-center text-gray">
        Estas calças pretas são um must-have no seu guarda-roupa. Eles são versáteis,
        elegante e confortável.
      </p>
    </div>
    <div class="col-md-6 mb-4">
      <img
        src="assets/CasualBlueShirt.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="Shirt 2"
      />
      <h3 class="text-center text-gray">Camisa Azul Casual</h3>
      <p class="text-center text-gray">
        Nossa camisa azul casual é ideal para uso diário. É feito de material macio,
        tecido respirável que garante conforto durante todo o dia.
      </p>
    </div>
    <div class="col-md-6 mb-4">
      <img
        src="assets/ComfortableKhakiPants.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="Pants 2"
      />
      <h3 class="text-center text-gray">Calça cáqui confortável</h3>
      <p class="text-center text-gray">
        Estas calças cáqui oferecem uma mistura perfeita de conforto e estilo. Eles são
        ótimo para ocasiões casuais e semiformais.
      </p>
    </div>
    <div class="col-md-6 mb-4">
      <img
        src="assets/ElegantBlackShirt.jpg"
        class="img-fluid rounded mb-3 custom-img"
        alt="Shirt 3"
      />
      <h3 class="text-center text-gray">Camisa Preta Elegante</h3>
      <p class="text-center text-gray last-one">
        Nossa elegante camisa preta é perfeita para eventos formais. É elaborado a partir
        materiais premium para um visual sofisticado.
      </p>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <a href="https://www.facebook.com" target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://www.instagram.com" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://www.twitter.com" target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
      <a href="#" target="_blank"
        ><i class="fas fa-globe"></i
      ></a>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
